{{#section 'title'}}
    iBags - Túi sách giá tốt
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css"> 
    <link rel="stylesheet" type="text/css" href="../guestPages/css/style.css">
    <link rel="stylesheet" type="text/css" href="../UserPages/styleHistory.css">
    
{{/section}}

{{#section 'js'}}
    <script src="/plugins/slick-1.8.0/slick.js"></script>
    <script src="/js/custom.js"></script>
{{/section}}

<div class="container" style="margin-top: 50px; ">
	<div class="row">
		<div class="col-sm-12" id="Ngay">
			<div class="row">
				<div class="col-sm-2" style="border-right: solid 2px white;text-align: center"> Mã hóa đơn</div>
				<div class="col-sm-5" style="border-right: solid 2px white;text-align: center"> Ngày đặt</div>
				<div class="col-sm-3" style="border-right: solid 2px white;text-align: center"> Tổng giá trị</div>
				<div class="col-sm-2" style="text-align:center"> Trạng thái</div>
			</div>
		</div>
		{{#each his }}	
			<div class="col-sm-12" id="History">
				<div class="row">
					<div class="col-sm-2" style="border-right: solid 2px white;text-align: center; font-size: 18px; height: 80px; line-height:80px">
						<a style="line-height:80px" href="/account/Hoa_don?Ma={{madon}}">{{madon}}</a>
					</div>
					<div class="col-sm-5" style="border-right: solid 2px white;line-height:80px; text-align:center">{{ngaydat}}</div>
					<div class="col-sm-3" style="border-right: solid 2px white;line-height:80px; text-align:center" > {{tonggiatri}}</div>
					<div class="col-sm-2" style="line-height:80px; text-align:center"> {{#if trangthai}} Chưa giao {{else}} Đã giao {{/if}}</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
	<!-- Brands -->

	<div class="brands">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="brands_slider_container">
							
							<!-- Brands Slider -->
	
							<div class="owl-carousel owl-theme brands_slider">
								
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_001.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_002.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_003.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_004.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_005.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_006.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_007.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_008.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_009.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_010.png" alt=""></div></div>
							</div>
							
							<!-- Brands Slider Navigation -->
							<div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
	
						</div>
					</div>
				</div>
			</div>
	</div>

	<!-- Banner -->

	<div class="banner_2">
		<div class="banner_2_background" style="background-image:url(../../Hinh_anh/Giao_dien/banner_2_background.jpg)"></div>
		<div class="banner_2_container">
			<div class="banner_2_dots"></div>
			<!-- Banner 2 Slider -->

			<div class="owl-carousel owl-theme banner_2_slider" id="Hang_sap_ve">
				
			</div>
		</div>
	</div>

	<!-- Adverts -->

	<div class="adverts">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

			</div>
		</div>
	</div>