{{#section 'a_js'}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $("#btnSub").click(function(e){
            e.preventDefault();
            swal({
              title: "Bạn đã chắc chắn?",
              text: "Bạn có thực sự muốn thay đổi thông tin này?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willUpdate) => {
              if (willUpdate) {
                  if($('#txtName').val().length!=0){
                    $('#eForm').submit();
                }else{
                    swal("Cảnh báo!", "Hãy điền đầy đủ thông tin trước khi nhấn cập nhật!", "warning");
                }
              }
            });
        });

        var catID=$('#catID').val();
        $('#catID').hide();
        if(catID==='1'){
            $('#loaisanpham').val(1);
        }
        else if(catID==='2'){
            $('#loaisanpham').val(2);
        }
        else if(catID==='3'){
            $('#loaisanpham').val(3);
        }
        else if(catID==='4'){
            $('#loaisanpham').val(4);
        }
        else if(catID==='5'){
            $('#loaisanpham').val(5);
        }
        else if(catID=='6'){
            $('#loaisanpham').val(6);
        }
        else{
            $('#loaisanpham').val(7);
        }
        

        var supID=$('#supID').val();
        $('#supID').hide();
        if(supID==='1'){
            $('#thuonghieu').val(1);
        }
        else if(supID==='2'){
            $('#thuonghieu').val(2);
        }
        else if(supID==='3'){
            $('#thuonghieu').val(3);
        }
        else if(supID==='4'){
            $('#thuonghieu').val(4);
        }
        else if(supID==='5'){
            $('#thuonghieu').val(5);
        }
        else if(supID=='6'){
            $('#thuonghieu').val(6);
        }
        else if(supID=='7'){
            $('#thuonghieu').val(7);
        }
        else if(supID=='8'){
            $('#thuonghieu').val(8);
        }
        else if(supID=='9'){
            $('#thuonghieu').val(9);
        }
        else{
            $('#thuonghieu').val(10);
        }
        

    </script>
{{/section}}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Cập nhật thông tin</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Thông tin chi tiết
                        </div>
                        <div class="panel-body">
                        
                            <div class="row">
                            {{#with product}}
                                <div class="col-lg-1">
                                 </div>
                                <div class="col-lg-4">
                                    <form role="form" action="" method="post" id="eForm">
                                        <div class="form-group">
                                            <label>Mã sản phẩm</label>
                                            <input type="number" class="form-control" name="proID" value='{{masanpham}}' placeholder="" id="">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên sản phẩm</label>
                                            <input type="text" class="form-control" name="Name" value='{{ten}}' placeholder="Tên sản phẩm" id="">
                                        </div>
                                        {{/with}}
                                        <div class="form-group">
                                            <label>Loại sản phẩm</label>
                                            <select name="catID" id="loaisanpham" class="form-control">
                                                {{#each cat}}
                                                    <option value="{{maloai}}">{{tenloai}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Thương hiệu</label>
                                            <select name="supID" id="thuonghieu" class="form-control">
                                                {{#each brand}}
                                                    <option value="{{mathuonghieu}}">{{tenthuonghieu}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        {{#with product}}
                                        <input type="number" class="form-control" id="catID" value='{{maloai}}'>
                                        <input type="number" class="form-control" id="supID" value='{{mathuonghieu}}'>
                                        <div class="form-group">
                                            <label>Xuất xứ</label>
                                            <input type="text" class="form-control" value='{{xuatxu}}' placeholder="" name="Org" id="txtName">
                                        </div>
                                        
                                    </from>
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-4">
                                    <form role="form" action="" method="post" id="eForm">
                                        <div class="form-group">
                                            <label>Giá sản phẩm</label>
                                            <input type="number" class="form-control" value='{{gia}}' placeholder="Giá" name="Price" id="txtName">
                                        </div>
                                        <div class="form-group">
                                            <label>Chất liệu sản phẩm</label>
                                            <input type="text" class="form-control" value='{{chatlieu}}' placeholder="" name="Material" id="txtName">
                                        </div>
                                        <div class="form-group">
                                            <label>Kích thước sản phẩm</label>
                                            <input type="text" class="form-control" value='{{kichthuoc}}' placeholder="kích thước" name="Size" id="txtName">
                                        </div>
                                        <div class="form-group">
                                            <label>Trọng lượng sản phẩm</label>
                                            <input type="number" class="form-control" value='{{trongluong}}' placeholder="" name="Weight" id="txtName">
                                        </div>
                                        <div class="form-group">
                                            <label>Số lượng sản phẩm</label>
                                            <input type="number" class="form-control" value='{{soluong}}' placeholder="Số lượng" name="Quant" id="txtName">
                                        </div>
                                        <button type="submit" class="btn btn-success" id="btnSub"><span class="glyphicon glyphicon-save"></span>Cập nhật</button>
                                        <span><a class="btn btn-default" href="/admin/products" role="button" data-toggle="modal">Cancel</a></span>
                                    </form>

                                </div>
                                <div class="col-lg-1">
                                </div>
                           
                             {{/with}}
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->






         <!--div class="row">
                                <div class="col-lg-9">
                                    {{#with product}}
                                    <form role="form" action="" method="post" id="eForm">
                                        <div class="form-group">
                                            <label>Mã sản phẩm</label>
                                            <input type="text" class="form-control" name="id" value='{{maloai}}' readonly>
                                        </div>
                                        <div class="form-group">
                                            <label>Tên sản phẩm</label>
                                            <input type="text" class="form-control" value='{{ten}}' placeholder="Tên thương hiệu" name="name" id="txtName">
                                        </div>
                                        <button type="submit" class="btn btn-success" id="btnSub"><span class="glyphicon glyphicon-save"></span>Cập nhật</button>
                                        <span><a class="btn btn-default" href="/admin/products" role="button" data-toggle="modal">Cancel</a></span>
                                    </form>
                                    {{/with}}
                                </div>
                            </div-->